@import '../../../index.scss';

.cartList {
    @extend .container;
    padding: 30px 0px;
    .title {
        h3 {
            color: #232323;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 900;
        }
    }
    .productContainer {
        .controls {
            display: flex;
            align-items: center;
            background: #FAFAFA;
            border: 1px solid #E8E8E8;
            height: 60px;
            >div {
                padding: 0px 30px;
            }
            h5 {
                color: #222;
                text-transform: uppercase;
            }
            .title {
                width: 500px;
            }
            .price {
                width: 104px;
            }
            .quantity {
                width: 100px;
            }
        }
    }
}