@import '../../../index.scss';

.myAccount {
    @extend .container;
    .title {
        h4 {
            text-transform: uppercase;
            color: #232323;
            font-size: 22px;
            font-weight: bolder;
        }
    }
}