@import '../../../../../index.scss';

.post {
    padding: 16px 0px;
    border-bottom: 1px solid #E5E5E5;
    cursor: pointer;
    .post__title {
        font-size: 14px;
        font-weight: normal;
        font-family: $Roboto;
        color: #222222;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .post__date {
        font-size: 14px;
        font-weight: 300;
        color: #777777;
    }
}