.shopCategories {
    .title {
        padding: 16px;
        border: 1px solid #E5E5E5;
        background-color: #F8F8F8;
        width: 265px;
        h3 {
            text-transform: uppercase;
            color: #222222;
            font-size: 14px;
        }
    }
}