@import '../../../index.scss';
@import '../home.module.scss';

.productCategories {
    @extend .container;
    .productCategories__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            h3 {
                text-transform: uppercase;
                color: #222222;
                font-size: 18px;
            }
        }
        .control_btns {
            display: flex;
            align-items: center;
            .btn_prev, .btn_next {
                @extend .sliderButton;
            }
        }
    }
    .navbar {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }
    .mainContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .products {
            display: flex;
            align-items: center;
            @extend .container;
        }
        .banners {
            width: 285px;
            height: 326px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #E8E8E8;
        }
    }
}

@media screen and (max-device-width: 1400px) {
    .productCategories {
        display: none;
    }
}