@import '../../../../index.scss';

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    @extend .container;
}
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
        width: 45px;
        height: 40px;
    }
    h3 {
        font-size: 26px;
        text-transform: uppercase;
        color: #191A1C;
    }
}
.search {
    display: flex;
    input {
        width: 360px;
        height: 53px;
        border: 1px solid #E8E8E8;
        padding-left: 10px;
    }
    .categories {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding:0 15px;
        border: 1px solid #E8E8E8;
        color: #191A1C;
        font-weight: 600;
        cursor: pointer;
    }
    .categoriesArrowDown {
        margin: 0px 5px;
        font-size: 16px;
        color: #333333;
    }
}
.searchIcon {
    padding: 15px;
    background-color: #FFD200;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    >*{
        color:#333333;
    }
}
.bag {
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    >div {
        display: flex;
        align-items: center;
    }
}
.shoppingBasket {
    padding: 19px;
    border: 1px solid #E8E8E8;
}
.items {
    .shoppingInf {
        border: 1px solid #E8E8E8;
        padding:4px 15px;
    }
    span {
        color: #408DE4;
        margin-left: 5px;
    }
}