.noProducts {
    min-height: 200px;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .image {
        height: 100px;
        width: 100px;
    }
    h4 {
        font-weight: 25px;
        a {
            text-decoration: none;
            color: #81D9FA;
            &:hover {
                color: #58C9EA;
                border-bottom: 1px solid #81D9FA;
            }
        }
    }
}