@import "../../../../index.scss";

.logoImg {
    width: 40px;
    height: 40px;
    margin-right: 5%;
}

.mainHeaderWrapper {
    background-color: #408DE4;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;

    a {
        text-decoration: none;
    }
}

.mainHeader {
    @extend .container;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logoWrapper {
        width: 15%;

        .logo {
            display: flex;
            align-items: center;
            cursor: pointer;

            h1 {
                font-size: 26px;
                font-weight: 900;
                text-transform: uppercase;
                color: #FFF;
            }
        }
    }

    .mainPanel {
        display: flex;
        align-self: center;
        width: 75%;

        .searchPanel {
            display: flex;
            width: 100%;
            margin: 0 30px;
            align-items: center;
            // .categories {
            //     color: #333333;
            //     padding: 0px 5px 0px 15px;
            //     height: 50px;
            //     border-left: 1px solid #E8E8E8;
            //     background-color: #fff;
            //     display: flex;
            //     align-items: center;
            //     cursor: pointer;
            //     h4 {
            //         font-family: $Roboto;
            //         font-size: 13px;
            //     }
            //     .angleDownIcon {
            //         padding: 0px 12px;

            //     }
            // }
            input {
                box-sizing: border-box;
                padding-left: 15px;
                height: 50px;
                width: 100%;
                border-radius: 1px;
                border: none;
                outline: none;
            }

            .searchIcon {
                background-color: #FFD200;
                padding: 0 20px;
                height: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }

        .basket {
            display: flex;
            border-radius: 1px;
            background-color: #fff;
            height: 50px;

            .navlink {
                color: #000000;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .shoppingBasketIcon {
                padding: 0 15px;
                border-right: 1px solid #E5E5E5;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            .shoppingBoughtItems {
                padding: 0 20px;
                display: flex;
                align-items: center;
                cursor: pointer;

                p {
                    font-size: 12px;
                    color: #555555;
                    margin-right: 5px;
                }

                span {
                    font-size: 12px;
                    color: #408DE4;
                }
            }
        }
    }
}

.cartPopupContainer {
    position: relative;
    z-index: 1;
    top: -20px;
    left: -215px;
}

@media screen and (max-device-width: 1024px) {
    .mainHeader {
        .logoWrapper {
            .logo {
                .logoImg {
                    width: 35px;
                    height: 35px;
                }
    
                h1 {
                    font-size: 20px;
                }
            }
        }

        .mainPanel {
            display: flex;
            align-self: center;
            .searchPanel {
                display: flex;
                margin: 0 30px;

                input {
                    box-sizing: border-box;
                    padding-left: 15px;
                    height: 35px;
                    border-radius: 1px;
                    border: none;
                    outline: none;
                }

                .searchIcon {
                    background-color: #FFD200;
                    padding: 0 10px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-device-width: 776px) {
    .mainHeader {
        .logoWrapper {
            width: 5%;
            .logo {
                h1 {
                    display: none;
                }
            }
        }

        .mainPanel {
            display: flex;
            align-self: center;
            width: 85%;
            .searchPanel {
                display: flex;
                margin: 0 15px;

                input {
                    box-sizing: border-box;
                    padding-left: 15px;
                    height: 35px;
                    border-radius: 1px;
                    border: none;
                    outline: none;
                }

                .searchIcon {
                    background-color: #FFD200;
                    padding: 0 10px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }
            }
            .basket {
                height: 35px;
    
                .shoppingBasketIcon {
                    padding: 0 8px;
                }
    
                .shoppingBoughtItems {
                    padding: 0 10px;
                }
            }
        }
    }
}