@import "../../../index.scss";

.vertical_line {
    margin: 0px 10px;
}

.loginPanel {
    display: flex;
    align-items: center;
    color: #9a9a9a;
    font-size: 12px;
    @extend .container;
    user-select: none;
}
.login {
    display: flex;
    margin: 0px 20px;
    align-items: center;
    .btn_login,
    .signup {
        cursor: pointer;
        text-decoration: none;
        color: #9a9a9a;
    }
    .border {
        margin: 0 20px;
    }
    span {
        margin: 0px 4px;
    }
}
.currency {
    &:hover {
        cursor: pointer;
    }
}
.smallNavbar {
    display: flex;
    margin-left: auto;
    align-items: center;
    ul {
        display: flex;
        li {
            margin: 0px 10px;
        }
    }
}
.navbarItem {
    cursor: pointer;
    a {
        color: #9a9a9a;
        text-decoration: none;
    }
}
.heartIcon {
    margin-right: 5px;
}

.launguage {
    display: flex;
    align-items: center;
    cursor: pointer;
    .faAngleDownIcon {
        color: #9a9a9a;
        margin-left: 5px;
    }
}

@media only screen and (max-device-width: 1024px) {
    .container1024 {
        width: 840px;
        margin: 0 auto;
    }
    .loginPanel {
        @extend .container1024;
    }
}
