@import '../../../index.scss';

.vertical_line {
    margin: 0px 10px;
}

.loginPanel {
    display: flex;
    align-items: center;
    color: #9A9A9A;
    font-size: 12px;
    @extend .container;
}
.login {
    display: flex;
    margin: 0px 20px;
    align-items: center;
    .btn_login, .signup {
        cursor: pointer;
    } 
    .border {
        margin:0 20px;
    }
    span {
        margin: 0px 4px;
    }
}
.currency {
    &:hover {
        cursor: pointer;
    }
}
.smallNavbar {
    display: flex;
    margin-left: auto;
    align-items: center;
    ul {
        display: flex;
        li {
            margin: 0px 10px;
        }
    }
}
.navbarItem {
    cursor: pointer;
}
.heartIcon {
    margin-right:5px;
}
