@import '../../../index.scss';

.brandPartnersWrapper {
    height: 156px;
    margin: 50px auto;
    border-bottom: 1px solid #EFEFEF;
    background-color: #F9F9F9; 
}
.brandPartners {
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.prevBtn, .nextBtn {
    color: #555555;
    padding: 10px;
    border: 1px solid #DDDDDD;   
    cursor: pointer;
    &:hover {
        transition: all .1s linear;
        background-color: #85DCD6;
        border: 1px solid #2A6577;
        color: #F5F5F5;
    }
}