@import '../../../index.scss';

.cartPageTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        color: #232323;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 24px;
    }
    .redirectToShop {
        text-transform: uppercase;
        color: #999999;
        text-decoration: none;
        font-family: $Roboto;
        font-size: 13px;
    }
}