@import '../../../../../../../index.scss';

.review {
    display: flex;
    margin-bottom: 30px;
    .photo {
        img {
            height: 50px;
            width: 50px;
            border-radius: 1px;
        }
    }
}
.reviewContent {
    margin-left: 20px;
    padding: 24px;
    border: 1px solid #EEEEEE;
    border-radius: 1px;
    width: 100%;
    .reviewContent__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .review_user_information {
            display: flex;
            align-items: center;
            .reviewContent__header_nametitle {
                color: #222222;
                font-size: 14px;
            }
            .reviewContent__header_date {
                color: #999999;
                font-size: 14px;
                font-family: $Raleway;
            }
        }
    }
    .reviewContent__footer {
        .content__text {
            color: #777777;
            font-size: 14px;
        }
    }
}