@import '../../../../index.scss';

.product {
    display: flex;
    padding: 20px 30px;
    border: 1px solid #bcbcbc;
    align-items: center;
    cursor: pointer;

    .item {
        display: flex;
        align-items: center;
        width: 45%;

        img {
            width: 55px;
            height: 60px;
            border-radius: 1px;
            margin-right: 20px;
        }

        p {
            color: #666666;
            font-size: 14px;
        }
    }

    .price {
        width: 32%;

        h4 {
            color: #222222;
            font-size: 14px;
            font-family: $Roboto;
        }
    }

    .isStockStatus {
        width: 10%;

        .InStock {
            color: #88A36C;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
        }

        .OutOfStock {
            color: #232323;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    .btn_addToCart {
        button {
            outline: none;
            border: none;
            border-radius: 1px;
            color: #fff;
            background-color: #232323;
            text-transform: uppercase;
            font-family: $Raleway;
            font-size: 12px;
            font-weight: 600;
            padding: 15px 20px;

            &:hover {
                transition: all .3s ease;
                color: #D3CAFF;
            }
        }

        .withoutButton {
            height: 30px;
            width: 10%;
        }
    }

    .btn_remove {
        margin-left: 30px;

        img {
            cursor: pointer;
        }
    }
}

@media screen and (max-device-width: 480px) {
    .product {
        .item {
            width: 60%;
            img {
                width: 35px;
                height: 40px;
                margin-right: 10px;
            }

            p {
                color: #666666;
                font-size: 10px;
            }
        }

        .price {
            h4 {
                font-size: 10px;
            }
        }

        .isStockStatus {
            .InStock {
                font-size: 10px;
            }

            .OutOfStock {
                font-size: 10px;
            }
        }
    }
}