.pictures {
    .mainPhoto {
        img {
            width: 570px;
            height: 590px;
            border: 1px solid #E8E8E8;
        }
    }
    .photoList {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        img {
            width: 125px;
            height: 135px;
            border: 1px solid #E8E8E8;
        }
    }
}