@import '../../../index.scss';

.vertical_line {
    margin: 0px 10px;
}

.loginPanelWrapper {
    height: 45px;
    width: 100%;
    background-color: #FAFAFA;
} 
.loginPanel {
    display: flex;
    align-items: center;
    color: #9A9A9A;
    font-size: 12px;
    @extend .container;
}
.login {
    display: flex;
    margin: 0px 20px;
    align-items: center;
    .border {
        margin:0 20px;
    }
    span {
        margin: 0px 4px;
    }
}
.smallNavbar {
    display: flex;
    margin-left: auto;
    align-items: center;
    ul {
        display: flex;
        li {
            margin: 0px 10px;
        }
    }
}
.heartIcon {
    margin-right:5px;
}


.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    @extend .container;
}
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
        width: 45px;
        height: 40px;
    }
    h3 {
        font-size: 26px;
        text-transform: uppercase;
        color: #191A1C;
    }
}
.search {
    display: flex;
    input {
        width: 360px;
        height: 53px;
        border: 1px solid #E8E8E8;
        padding-left: 10px;
    }
    .categories {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding:0 15px;
        border: 1px solid #E8E8E8;
        color: #191A1C;
        font-weight: 600;
        cursor: pointer;
    }
    .categoriesArrowDown {
        margin: 0px 5px;
        font-size: 16px;
        color: #333333;
    }
}
.searchIcon {
    padding: 15px;
    background-color: #FFD200;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    >*{
        color:#333333;
    }
}
.bag {
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    >div {
        display: flex;
        align-items: center;
    }
}
.shoppingBasket {
    padding: 19px;
    border: 1px solid #E8E8E8;
}
.items {
    .shoppingInf {
        border: 1px solid #E8E8E8;
        padding:4px 15px;
    }
    span {
        color: #408DE4;
        margin-left: 5px;
    }
}

.navbarWrapper {
    background: #408DE4;
}
.navbar {
    @extend .container;
    display: flex;
    align-items: center;
    nav {
        ul {
            display: flex;
            li {
                color: #FFF;
                margin: 0px 12px;
                font-family: $Raleway;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 12px;
                cursor: pointer;
            }
        }
    }
}
.departments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFD200;
    width: 270px;
    box-sizing: border-box;
    padding: 0px 20px;
    color: #222222;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-family: $Roboto;
}

.contacts {
    font-family: $Roboto;
    display: flex;
    align-items: center;
    font-size: 12px;
    box-sizing: border-box;
    padding-left:100px;
    p {
        text-transform: uppercase;
        color: #FFF;
    }
    span {
        color: #333333;
        background-color: #FFD200;
        padding: 5px;
    }
}

.pageNameWrapper {
    background-color: #686868;
    width: 100%;
}

.pageName {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}
.pageName__Title {
    h2 {
        font-size: 32px;
        color: #FFF;
        text-transform: uppercase;
    }
}
.pageName__path {
    h3 {
        font-weight: 600;
        color: #FFF;
    }
}