@import '../../../../index.scss';
@import '../../home.module.scss';

.bestsellers {
    padding-top: 40px;
    .bestsellers__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            h3 {
                color: #222222;
                text-transform: uppercase;
                font-size: 18px;
            }
        }
        .control_btns {
            display: flex;
            align-items: center;
            user-select: none;
        }
    }
    .mainContent {
        display: flex;
        flex-wrap: wrap;
    }
}