@import '../../../../index.scss';

.loginFormWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    .loginForm {
        .loginForm__title {
            h3 {
                font-size: 18px;
                text-transform: uppercase;
                color: #232323;
                text-align: center;
            }
        }
        .form {
            .formItem {
                p {
                    color: #666666;
                    font-size: 14px;
                }
                input {
                    height: 45px;
                    width: 564px;
                    border: 1px solid #E8E8E8;
                    border-radius: 1px;
                }
                span {
                    color: #FC4242;
                }
            }
            .confirmation {
                margin: 20px 0px;
                display: flex;
                align-items: center;
                .btn_login {
                    margin-right: 15px;
                    button {
                        outline: none;
                        border: 1px solid #E8E8E8;
                        background-color: #F2F2F2;
                        color: #888888;
                        text-transform: uppercase;
                        font-family: $Raleway;
                        font-size: 12px;
                        font-weight: 600;
                        padding: 18px 25px;
                        &:hover {
                            transition: all .4s linear;
                            border: 1px solid #C7C7C7;
                            background-color: #BABABA;
                            color: #222222;
                        }
                    }
                }
                .btn_rememberMe {
                    display: flex;
                    align-items: center;
                    p {
                        color: #666666;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}