.btn_shopNow {
    button {
        color: #333333;
        text-transform: uppercase;
        background-color: #fff;
        border-radius: 1px;
        padding: 13px 15px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        border: none;
        outline: none;
    }
}