@import '../../../../../index.scss';

.bestseller {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #E8E8E8;
    cursor: pointer;
    .new, .sale {
        position: absolute;
        top: 10%;
        left: 5%;
        width: 42px;
        height: 20px;
        border-radius: 1px;
        color: #FFF;
        font-weight: bold;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }
    .new {
        background-color: #F7AB27;
    }
    .sale {
        background-color: #EA5C5C;
    }
    .bestseller__photo {
        width: 190px;
        height: 190px;
        z-index: 888;
        margin: 10px;
    }
    .bestseller__content {
        margin: 0px 20px;
        .bestseller__title {
            font-family: $Roboto;
            font-size: 14px;
            font-weight: normal;
            color: #444444;
            min-height: 50px;
        }
        .price {
            color: #222222;
            font-size: 14px;
        }
        .rating {
            display: flex;
            margin-bottom: 20px;
            img {
                margin:0 2px;
            }
        }
        .bestseller__btn {
            button {
                outline: none;
                border: 1px solid #E5E5E5;
                color: #222222;
                text-transform: uppercase;
                padding: 12px;
                border-radius: 1px;
                font-weight: 600;
                font-family: $Raleway;
            }
        }
    }
}