body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$Raleway: 'Raleway', sans-serif;
$Roboto: 'Roboto', sans-serif;

.container {
  width: 75%;
  margin: 0 auto;
}

img {
  user-select: none;
}

h1,
h2,
h3,
h4 {
  font-family: $Raleway;
}

p,
li {
  font-family: $Roboto;
}

button,
a {
  cursor: pointer;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.dateWrapper {
  .date {
    width: 40px;
    height: 45px;
    border-radius: 1px;
    background-color: #408DE4;
    color: #FFF;
    text-transform: uppercase;
    font-family: $Roboto;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    .day {
      font-size: 18px;
      margin-block-start: 0;
      margin-block-end: 0;
    }

    .month {
      font-size: 11px;
      margin-block-end: 0;
      margin-block-start: 0;
    }
  }
}

.headerTitle {
  color: #232323;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
}