body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$Raleway: 'Raleway', sans-serif;
$Roboto: 'Roboto', sans-serif;

.container {
  width: 1170px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: $Raleway;
}

p, li {
  font-family: $Roboto;
}

button, a {
  cursor: pointer;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}