.description {
    padding: 42px 30px;
    h4 {
        text-transform: uppercase;
        font-size: 18px;
        color: #222222;
    }
    p {
        color: #777777;
        font-size: 14px;
    }
}