@import '../../../index.scss';

.currentList {
    @extend .container;
    padding: 30px 0px;
    .noProducts {
        min-height: 200px;
        border: 1px solid #E8E8E8;
        border-top: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .sadSmile {
            height: 100px;
            width: 100px;
        }
        h4 {
            font-weight: 25px;
            a {
                text-decoration: none;
                color: #81D9FA;
                &:hover {
                    color: #58C9EA;
                    border-bottom: 1px solid #81D9FA;
                }
            }
        }
    }
    .title {
        h3 {
            color: #232323;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 900;
        }
    }
    .productContainer {
        .controls {
            display: flex;
            align-items: center;
            background: #FAFAFA;
            border: 1px solid #E8E8E8;
            height: 60px;
            >div {
                padding: 0px 30px;
            }
            h5 {
                color: #222;
                text-transform: uppercase;
            }
            .title {
                width: 550px;
            }
            .price {
                width: 104px;
            }
        }
    }
}