.content {
    position: relative;
    left: -1px;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    width: 60%;
}

@media screen and (max-device-width: 650px) {
    .content { 
        width:100%;
    }
    
}