@import '../../../index.scss';

.mainNav {
    padding: 0px 30px;
    width: 55%;
    ul {
        display: flex;
        li {
            a {
                color: #FFF;
                margin: 0px 12px;
                font-family: $Raleway;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 12px;
                cursor: pointer;
                &:hover {
                    transition: all 0.2s linear;
                    color: #AC053D;
                }
            }
        }
    }
}

@media only screen and (max-device-width: 1024px) {
    .mainNav {
        ul {
            li {
                a {
                   font-size: 10px;
                }
            }
        }
    }
}