@import '../../../index.scss';


.products {
    @extend .container;
    .products_mainContent {
        display: flex;
    }
    .productsContent {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

