@import '../../../index.scss';


.products {
    .products_mainContent {
        display: flex;
        align-items: flex-start;
    }
    .productsContent {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .nothingFound {
        color: #222;
        font-size: 20px;
    }
}

