@import '../../../index.scss';

.servicesWrapper {
    border: 1px solid #F0F0F0;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    padding: 40px 0px;
}
.services {
    display: flex;
    justify-content: space-between;
    @extend .container;
    .service {
        text-align: center;
        width: 30%;
        .service__title {
            color: #222222;
            font-size: 15px;
        }
        .service__text {
            font-family: $Roboto;
            color: #888888;
            font-size: 14px;
        }   
    }
}

@media screen and (max-device-width: 680px) {
    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        .service {
            text-align: center;
            width: 50%;
            padding: 15px 0px;
        }
    }
}