@import '../../../index.scss';

$members_content: center;

.team {
    @extend .container;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 80px;
    p {
        font-family: $Raleway;
        font-size: 16px;
        color: silver;
    }
    h3 {
        color: #222222;
        font-family: $Roboto;
    }
    .title {
        text-align: center;
        box-sizing: border-box;
        padding: 20px 0;
        h3 {
            font-size: 24px;
        }
        p {
            font-size: 14px;
        }
    }
    .members {
        display: flex;
        justify-content: $members_content;
        align-items: center;
    }
}

@media screen and (max-device-width: 1024px) {
    .team {
        width: 840px;
        .title {
            text-align: center;
            box-sizing: border-box;
            padding: 20px 0;
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 12px;
            }
        }
    }
}